* {
  box-sizing: border-box;
}

/* NAVBAR */
/*shifting page links to the right of the navbar*/
.navbar-right {
  margin-left: auto;
}
.nav-link {
  color: #0b8911 !important;
  font-weight: 700;
  font-size: 20px;
}
.navbar {
  z-index: 99;
  background-color: #01355b;
}

/*making my name font color white in nav bar*/
.navbar-light .navbar-brand  {
  color: white;
}


/* MAIN BODY */
/*Setting background image for page*/
.bg {
  background-color: #01355b;
  height: 1350px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container {
  margin-top: 150px;
}

div .row {
  padding-top: 20px;
  padding-bottom: 20px;
}
/*setting background color and opacity for the form*/
.col-md-8 {
  background-color: rgba(219, 226, 235, 0.8);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.card {
  background-color: rgba(219, 226, 235, 0.8);
  margin-right: 40px;
}

#mobile {
  vertical-align: middle;
}


/* FOOTER */
#sticky-footer {
  flex-shrink: 0;
}
/*centering text and icons in footer*/
.text-center {
  margin-top: 0;
  padding-right: 10px;
}

.list-group {
  display: inherit;
}

.list-group a {
  padding-left: 5px;
  padding-right: 5px;
}

