* {
  box-sizing: border-box;
}

.navbar {
  z-index: 99;

}
/*shifting page links to the right of the navbar*/
.navbar-right {
  margin-left: auto;
}
/*Making background behind my name in navbar blue*/
.navbar-brand {
  background-color: #f1761e;
}
/*making my name font color white in nav bar*/
.navbar-light .navbar-brand  {
  color: white;
}

.nav-link {
  color: #f1761e !important;
}

.carousel {
  margin-top: -100px;
}

#greeting p {
  font-size: 10vw;
  text-align-last: center;
}


#meBackground {
  background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0.966), rgba(241,118,30,1));
  background-color: #f1761e;
}

div .header {
  margin-bottom: 20px;
}

/*Setting position of headshot image*/
#headshot {
  width: 150px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}
/*Setting style and alignment of bio to wrap around image*/
p {
  color: rgb(13, 34, 51);
  text-align: justify;
  font-size: 18px;
  font-weight: bolder;
}

#sticky-footer {
  flex-shrink: 0;
}
/*centering text and icons in footer*/
.text-center {
  margin-top: 0;
  padding-right: 10px;
}
