* {
  box-sizing: border-box;
}
/* NAVBAR */
.navbar {
  z-index: 99;
  background-color: #01355b;
}
/*shifting page links to the right of the navbar*/
.navbar-right {
  margin-left: auto;
}

/* adding color to links at top right of navbar */
.nav-link {
  color: #0b8911 !important;
}

/* MAIN CONTENT */
#greeting p {
  font-size: 10vw;
  text-align-last: center;
  color: white;
}

#meBackground {
  background-color: #01355b;
}

div .header {
  margin-bottom: 20px;
}

h2 {
  color: white;
}

/*Setting position of headshot image*/
#headshot {
  width: 150px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}
/*Setting style and alignment of bio to wrap around image*/
p {
  color: white;
  text-align: justify;
  font-size: 22px;
  font-weight: bolder;
}


/* FOOTER */
#sticky-footer {
  flex-shrink: 0;
}
/*centering text and icons in footer*/
.text-center {
  margin-top: 0;
  padding-right: 10px;
}

.list-group {
  display: inherit;
}

.list-group a {
  padding-left: 5px;
  padding-right: 5px;
}
