* {
  box-sizing: border-box;
}

.navbar {
  background-color: non e !important;
}
/*shifting page links to the right of the navbar*/
.navbar-right {
  margin-left: auto;
}
/*Making background behind my name in navbar blue*/
.navbar-brand {
  background-color: rgba(153, 196, 245, 0.884);
}
/*making my name font color white in nav bar*/
.navbar-light .navbar-brand  {
  color: white;
}

#greeting p {
  font-size: 10vw;
  text-align-last: right;
}


#meBackground {
  background-image: linear-gradient(to bottom, rgba(241, 241, 241, 0.966), rgba(241,174,25,1));
  background-color: rgb(241, 174, 125);
}


.col-sm-12 {
  margin-right: 0;
}

div .header {
  margin-bottom: 20px;
}
/*Setting position of headshot image*/
#headshot {
  width: 175px;
  height: auto;
  float: left;
  margin-right: 20px;
  margin-bottom: 5px;
}
/*Setting style and alignment of bio to wrap around image*/
p {
  color: rgb(13, 34, 51);
  text-align: justify;
  font-size: 18px;
  font-weight: bolder;
}

#sticky-footer {
  flex-shrink: 0;
}
/*centering text and icons in footer*/
.text-center {
  margin-top: 0;
  padding-right: 10px;
}
