* {
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  z-index: 99;
  background-color: rgba(219, 226, 235, 0.9);
}
/*shifting page links to the right of the navbar*/
.navbar-right {
  margin-left: auto;
}
/*Making background behind my name in navbar blue*/
.navbar-brand {
  background-color: #8a62ec;
}
/*making my name font color white in nav bar*/
.navbar-light .navbar-brand  {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}

.nav-link {
  color: #8a62ec !important;
}


/* MAIN CONTENT */
/*Setting background image for page*/
.bg {
  margin-top: -75px;
  background-image: url("Assets/MutedSquares.jpg");
  background-color: lightblue;
  /* height: 1350px; */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container {
  margin-top: 75px;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;  
}

.col-sm-10 {
  margin-top: 150px;
  background-color: rgba(219, 226, 235, 0.8);
  position: relative; 
}

.col-sm {
  padding: 10px;
}
/* Setting position/size of images*/
div img {
  padding-bottom: 40px;
  display: block;
  margin: auto;
  height: 400px;
  width: 600px;
}


/* FOOTER */
#sticky-footer {
  flex-shrink: 0;
}
/*centering text and icons in footer*/
.text-center {
  margin-top: 0;
  padding-right: 10px;
}
