* {
  box-sizing: border-box;
}

/* NAVBAR */
.navbar {
  z-index: 99;
  background-color: #01355b;
}
/*shifting page links to the right of the navbar*/
.navbar-right {
  margin-left: auto;
}

/*making my name font color white in nav bar*/
.navbar-light .navbar-brand  {
  color: white;
  padding-right: 5px;
  padding-left: 5px;
}
/* adding color to links at top right of navbar */
.nav-link {
  color: #0b8911 !important;
}


/* MAIN CONTENT */
/*Setting background image for page*/
.bg {
  margin-top: -75px;
  background-image: url("Assets/sincerely-media-UMyt7_RrKpY-unsplash.jpg");
  /* background-color: lightblue; */
  /* height: 1350px; */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}



 #main-row { 
  margin-top: 150px;
  margin-bottom: 100px;
}

#header-card  {
  margin-top: 150px;
  background-color: rgb(122, 250, 147, 0.5);
  padding-bottom: 50px;  
}

.col-sm {
  background-color: rgb(122, 250, 147, 0.5);
  padding: 10px;
  width: 100%;
  padding-right: 30px;
  padding-left: 30px;
  /* position: relative;  */
}



/* Setting position/size of images*/
div img { 
  padding: 10px;
  display: block;
  margin: auto;
  height: 400px;
  width: 600px;
}


/* FOOTER */
#sticky-footer {
  flex-shrink: 0;
}
/*centering text and icons in footer*/
.text-center {
  margin-top: 0;
  padding-right: 10px;
}

.list-group {
  display: inherit;
}

.list-group a {
  padding-left: 5px;
  padding-right: 5px;
}