* {
  box-sizing: border-box;
}
/*shifting page links to the right of the navbar*/
.navbar-right {
  margin-left: auto;
}
/*Making background behind my name in navbar blue*/
.navbar-brand {
  background-color: rgba(153, 196, 245, 0.884);
}
/*making my name font color white in nav bar*/
.navbar-light .navbar-brand  {
  color: white;
}
/*Setting background image for page*/
.bg {
  background-image: url("dan-maisey-uD-rUHU-1OQ-unsplash.jpg");
  background-color: lightblue;
  height: 1350px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.container {
  margin-top: 75px;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;  
}

.col-md-8 {
  margin-top: 50px;
  background-color: rgba(219, 226, 235, 0.8); 
}

.col-md-6 {
  padding: 10px;
}
/* Setting position/size of images*/
div img {
  padding-bottom: 40px;
  display: block;
  margin: auto;
  height: 350px;
  width: 350px;
}

#sticky-footer {
  flex-shrink: 0;
}
/*centering text and icons in footer*/
.text-center {
  margin-top: 0;
  padding-right: 10px;
}
